extends default

block content


    section.portfolio-item(style="display:none;")
      .container-fluid
        .row
          .col-lg-12
            .portfolio-headline
              #particles-js
              .container
                .row
                  .col-lg-12
                    .typed-headline
                      span.skilltechtypetext
                        span.typed-cursor |
                      p
                        | Better Tomorrow is a state of the art platform that enables one-to-many recognition on-demand. 
                        br
                        | Whether on-premise or in the cloud, we are ready to meet your needs
                    // /.typed-headline
                    a#project-info.btn.btn-default.pull-right.hvr-sweep-to-right.primary-2-back(href="#") Project Info
          // /.col-lg-6
        // /.row
      // /.container-fluid
    // /.hero-section-2
    //
      Image Section
      ==================================================
    section#big-image.image-section.hidden
      .container
        .row
          .col-md-12
            h3.wow.fadeInLeft.animated
              span Defining
              |  The New Standard of Security and Privacy
            h4.wow.fadeInLeft.animated Secured work Environment
            button.btn.btn-default.btn-lg.wow.fadeInRight.hvr-sweep-to-right.primary-2-back.animated Get it now
          // /.col-md-12
        // /.row
      // /.container
    // /.image section
    //
      Our Work Section
      ==================================================
    section#our-work.our-work-section.hidden
      .container-fluid
        .row
          .col-md-12.see-work
            h2.wow.fadeInLeft.animated See Our Portfolio
          .col-md-12.new-style
            p.wow.fadeInLeft.animated
              | All our product range is here. Like it? 
              a.secondary(href="#")
                | CONTACT US
                | NOW!
          .col-md-12.portfolio-images
            .col-md-3.col-sm-6.col-xs-6
              .portfolio-img.first
                img.img-responsive(src="assets/images/portfolio-thumbnail-01-dark.jpg" alt="porftofilio thumbnail")
                .sweep-left.image-gradient
                .sweep-from-center
                  .sweep-layer
                    .sweep-content
                      .sweep-icon
                        a(href="portfolio.html")
                          i.fa.fa-eye.primary-3(aria-hidden="true")
                      h3
                        a(href="portfolio.html") Thumb Hover Superb
                      p Pure CSS Instant Hover
                .sweep-right.image-gradient
              // /.portfolio-img
            .col-md-3.col-sm-6.col-xs-6
              .portfolio-img.second
                img.img-responsive(src="assets/images/portfolio-thumbnail-02-dark.jpg" alt="porftofilio thumbnail")
                .sweep-left.image-gradient
                .sweep-from-center
                  .sweep-layer
                    .sweep-content
                      .sweep-icon
                        a(href="portfolio.html")
                          i.fa.fa-eye.primary-3(aria-hidden="true")
                      h3
                        a(href="portfolio.html") A.I
                      p Any vision invites you to try the key of the future.
                .sweep-right.image-gradient
              // /.portfolio-img
            .col-md-3.col-sm-6.col-xs-6
              .portfolio-img.third
                img.img-responsive(src="assets/images/portfolio-thumbnail-03-dark.jpg" alt="porftofilio thumbnail")
                .sweep-left.image-gradient
                .sweep-from-center
                  .sweep-layer
                    .sweep-content
                      .sweep-icon
                        a(href="portfolio.html")
                          i.fa.fa-eye.primary-3(aria-hidden="true")
                      h3
                        a(href="portfolio.html") Thumb Hover Superb
                      p Pure CSS Instant Hover
                .sweep-right.image-gradient
              // /.portfolio-img
            .col-md-3.col-sm-6.col-xs-6
              .portfolio-img.fourth
                img.img-responsive(src="assets/images/portfolio-thumbnail-04-dark.jpg" alt="porftofilio thumbnail")
                .sweep-left.image-gradient
                .sweep-from-center
                  .sweep-layer
                    .sweep-content
                      .sweep-icon
                        a(href="portfolio.html")
                          i.fa.fa-eye.primary-3(aria-hidden="true")
                      h3
                        a(href="portfolio.html") Thumb Hover Superb
                      p Pure CSS Instant Hover
                .sweep-right.image-gradient
              // /.portfolio-img
        // /.row
      // /.container-fluid
    // /.our-work-section
    // image div
    .about-section.about-events-header
      .container-fluid.event-top-borders
        .row
          .col-lg-12.all-image-heading(style="background:url(assets/images/sliders/Photography.jpg);background-size: cover;\
          background-position: center;")
    //
      About Us Section
      ==================================================
    section#about.about-section.about-photography-section
      .container
        .row
          .col-lg-12
            .about-text
              h2.wow.fadeIn.animated
                span Photography
              p.wow.fadeIn.animated
                | We are sterling example of the light and shade in our lives, of the subtle nuances that are -and yet are not- of
                | the palette of events that move along timeless corridors, where beauty and passion stand intertwined.
              p
                | We celebrate our existence with delectable shades of color, vibrant hues of festivity, bonding and glamour that spell the eternal romance of life. We do it with a difference—we capture these hues in pixels that transform them into True Shades- a treasure house.
              p
                | With 30 years of solid experience to back us in dealing with quality photography, we have never stopped aiming
                | for perfection in what we do. Our work speaks volumes for itself. We put our hearts into the click and bring life
                | into the picture.
              p
                | Professionalism is our bottom line and it is tinged with a passion so strong that every picture or portrait is a
                | piece of art by itself. Having the best photographers, great production professionals and highly skilled touch-up
                | artists only makes our job easier!
              h3.wow.fadeIn.animated(style="color:white;")
                span Our Service Spectrum
              br
              ul.about-icons.list-inline
                li.wow.fadeIn.animated
                  .text Fashion Photography
                br
                li.wow.fadeIn.animated
                  .text Kids Photography
                br
                li.wow.fadeIn.animated
                  .text Wedding Photography
                br
                li.wow.fadeIn.animated
                  .text Pre- wedding Photography
                br
                li.wow.fadeIn.animated
                  .text Food Photography
                br
                li.wow.fadeIn.animated
                  .text Event Photography
                br
                li.wow.fadeIn.animated
                  .text Portrait Photography
                br
                li.wow.fadeIn.animated
                  .text Product Photography
                br
                li.wow.fadeIn.animated
                  .text Architectural Photography
                br
                li.wow.fadeIn.animated
                  .text Aerial Photography
                br

              ul(style="color:#9EC6D8;list-style:none;position:fixed; bottom:30px; right:10px;width:300px;z-index:9999;text-align:left;")#message 
                li(style="position:fixed;bottom:10px;right:410px;display:none;")#icon
                  ul(style="list-style:none;display:inline-block;font-size:20px;")
                    li#facebook
                      a(href="#").primary-2-back.primary-back-hover
                        i.fa.fa-facebook(aria-hidden="true")
                    li#youtube
                      a(href="#").primary-2-back.primary-back-hover
                        i.fa.fa-youtube(aria-hidden="true")
                    li#twitter
                      a(href="#").primary-2-back.primary-back-hover
                        i.fa.fa-twitter(aria-hidden="true")
                    li#instagram
                      a(href="#").primary-2-back.primary-back-hover
                        i.fa.fa-instagram(aria-hidden="true")
                    li#linkedin
                      a(href="#").primary-2-back.primary-back-hover
                        i.fa.fa-linkedin(aria-hidden="true")
                    
                li
                  form(action="" style="position:fixed;bottom:10px;right:10px;")
                    button#newbutton(value="facebook") icon
                    input#m(type="text" style="display:inline-block;width:250px;")
                    button Send


              // /.about-icons
          // /.col-md-12
        // /.row
      // /.container
    // /.about-section
    //
      Quote Section
      ==================================================
    section#quote.quote-section.hidden
      .container-fluid
        .row
          .col-md-12.quote-headline
            h4.wow.fadeIn.animated
              | We are here to 
              span make things Better
          .col-md-12.quote-bottom
            .container
              h3.wow.fadeIn.animated
                | "Patience, persistence and perspiration make an unbeatable combination for
                span.primary success
                | ."
              p.wow.fadeIn.animated
                | NAPOLEON HILL
                span  - Author
        // /.row
      // /.container
    // /.quote-section
    //
      Services Section
      ==================================================
    section#services.services-section.hidden
      .container
        .row
          .col-md-12.service-headline
            h2.wow.fadeIn.animated
              | What We do, We do 
              span.primary Best!
            p.wow.fadeIn.animated Shaping the future of AI, creating a safer and Better Tomorrow
          .col-md-12.service-content
            .left
              .service.wow.fadeIn.animated
                .text
                  a.primary-hover(href="service.html") Graphic Design
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
                .icons
                  i.material-icons.primary create
              .service.wow.fadeIn.animated
                .text
                  a.primary-hover(href="service.html") Web Design
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
                .icons
                  i.material-icons.primary screen_share
              .service.wow.fadeIn.animated
                .text
                  a.primary-hover(href="service.html") Social Media
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
                .icons
                  i.material-icons.primary devices
            .service-image
              img(src="assets/images/iphone-services.png" alt="iphone")
            .right
              .service-2.wow.fadeIn.animated
                .icons
                  i.material-icons.primary photo_camera
                .text
                  a.primary-hover(href="service.html") Photography
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
              .service-2.wow.fadeIn.animated
                .icons
                  i.material-icons.primary mic
                .text
                  a.primary-hover(href="service.html") Marketing
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
              .service-2.wow.fadeIn.animated
                .icons
                  i.material-icons.primary play_circle_filled
                .text
                  a.primary-hover(href="service.html") Video Production
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
    // /.service-section
    //
      Call To Action Section
      ==================================================
    section#call-to.call-to-section.hidden
      .call-to-layer.main-gradient
      .container
        .row
          .col-md-12
            h3.wow.fadeIn.animated
              | Like what You see? 
              span Contact Us
              |  Now!
            p.wow.fadeIn.animated
              | We provide you with a comprehensive, encrypted, self-contained and user-friendly work environment, accessible to users only, anywhere in the world.
            button.btn.btn-default.wow.fadeInRight.hvr-sweep-to-right.button-gradient.animated Get it Now
    // /.call-to-section
    //
      Skills Section
      ==================================================
    section#skills.skills-section.hidden
      .container
        .row
          .col-md-12
            .skills-headline
              h4.wow.fadeIn.animated
                | Let 
                span Our Skills
                |  speak for Us
              p.wow.fadeIn.animated
                | The key of the future is an authentication and onboarding software that harnesses the power of our deep learning platform.
                br
                | Unlock the future by having in the palm of your hand.
          .col-md-12.progress-bar-wrapper
            .progress-bars
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Proprietary Neural Networks
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.first-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 75
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Deep and Lightweight Nets
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.second-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 80
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Learning in the Field
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.third-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 50
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated iOS & Android
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.fourth-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 70
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Data Encryption
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.fifth-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 59
                  span %
    // /.skills-section
    // Gallery Section
    section.gallery-section
      .container
        h2.wow.fadeIn.animated.gallery-heading
          span
            center Gallery
        .gallery
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a1.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a2.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a3.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a4.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a5.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a6.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a7.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a8.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a9.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a10.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a11.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a12.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a13.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a14.jpg")
          .gallery-item
            img.gallery-image(src="assets/images/gallery/a15.jpg")
    //
      Contact Section
      ==================================================
    section#contact.contact-section
      .container
        .row
          .col-md-12
            .contact-headline
              h3.wow.fadeIn.animated
                | Let's 
                span Connect
              p.wow.fadeIn.animated Get in touch with us and get all the answers to your needs.
            .contact-content
              .contact-info
                p.contact-header
                  span Head office 
                .info-line
                  .info-icon.wow.fadeIn.animated
                    i.fa.fa-map-marker.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info
                      | 402 Plainfield Avenue San Francisco
                      br
                      | California, USA 13202
                p.contact-header
                  span Delhi NCR Office 
                .info-line
                  .info-icon.wow.fadeIn.animated
                    i.fa.fa-map-marker.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info
                      | 402 Plainfield Avenue San Francisco
                      br
                      | California, USA 13202
                .info-line
                  .info-icon.wow.fadeIn.animated(style="vertical-align:top;")
                    i.fa.fa-envelope-o.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info normedia000sen@gmail.com
                    //
                      <p class="contact-text-info">info@normedia000sen.com</p>
                      <p class="contact-text-info">contact@normedia000sen.com</p>
                .info-line
                  .info-icon.wow.fadeIn.animated
                    i.fa.fa-phone.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info 05470124, 0900687
                .bottom-info
                  h4.wow.fadeIn.animated
                    span Connect
                    |  with us
                  ul.list-inline.social-icons.wow.fadeIn.animated
                    li
                      a.primary-2-back.primary-back-hover(href="https://www.facebook.com/")
                        i.fa.fa-facebook(aria-hidden="true")
                    li
                      a.primary-2-back.primary-back-hover(href="https://twitter.com/")
                        i.fa.fa-twitter(aria-hidden="true")
                    li
                      a.primary-2-back.primary-back-hover(href="https://www.instagram.com/")
                        i.fa.fa-instagram(aria-hidden="true")
                    li
                      a.primary-2-back.primary-back-hover(href="https://www.linkedin.com/")
                        i.fa.fa-linkedin(aria-hidden="true")
                    
                  // <p class="wow fadeIn animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>!
              .contact-form
                h4.wow.fadeIn.animated
                  | Send us a 
                  span Message
                form(method="post" action="contactme.php")
                  .form-group.wow.fadeIn.animated
                    label(for="name") Name: 
                    input#name.form-control(type="text" name="mail_name")
                  // /.form-group
                  .form-group.wow.fadeIn.animated
                    label(for="email") Email: 
                    input#email.form-control(type="email" name="mail_to")
                  // /.form-group
                  .form-group.wow.fadeIn.animated
                    label(for="message") Message: 
                    textarea#message.form-control(name="mail_msg" rows="4")
                  // /.form-group
                  button.btn.btn-default.wow.fadeIn.primary-back-hover.primary-hover-border.animated(type="submit") Submit
