extends default

block content



    section.portfolio-item(style="display:none;")
      .container-fluid
        .row
          .col-lg-12
            .portfolio-headline
              #particles-js
              .container
                .row
                  .col-lg-12
                    .typed-headline
                      span.skilltechtypetext
                        span.typed-cursor |
                      p
                        | Better Tomorrow is a state of the art platform that enables one-to-many recognition on-demand. 
                        br
                        | Whether on-premise or in the cloud, we are ready to meet your needs
                    // /.typed-headline
                    a#project-info.btn.btn-default.pull-right.hvr-sweep-to-right.primary-2-back(href="#") Project Info
          // /.col-lg-6
        // /.row
      // /.container-fluid
    // /.hero-section-2
    //
    
    .about-section.about-events-header
      .container-fluid.event-top-borders
        .row
          .col-lg-12.all-image-heading(style="background:url(assets/images/sliders/travel.jpg);background-size: cover;\
          background-position: center;")
    //
      About Us Section
      ==================================================
    section#about.about-section.about-travel
      .container
        .row
          .col-lg-12
            .about-text
              h2.wow.fadeIn.animated
                span Travel
              h3.wow.fadeIn.animated.travel-heading
                span India's Largest Intercity and Local Cab Services
              p.wow.fadeIn.animated
                | We cab booking aggregator, providing customers with reliable, premium and Local car rental services.
              h3.wow.fadeIn.animated.travel-heading
                span Exploring one road trip at a time
              p.wow.fadeIn.animated
                | To us, a road trip is one of the most exhilarating ways to travel the length and breadth. There's always
                | something to look at, something to explore and to experience. Because we love travelling by road so
                | much, we've been striving to make sure you have a great experience too.
                | We know travellers and wanderers like us are everywhere. Pack your bags every weekend and explore
                | everything there is to see around you.
              p.wow.fadeIn.animated
                | To make planning your vacation easier, you can book a cab with our P R., Call us on 7905470124 if you'd
                | like to discuss your itinerary with our executives in detail. Our expert drivers will guide you through
                | some of the best experiences India has to offer. From the time you make a booking with us, to the
                | time you get back home, we'll make sure you have a great road trip.
              h3.wow.fadeIn.animated.travel-heading
                span No matter where you travel - we've got a cab for you
              p.wow.fadeIn.animated
                | Planning a weekend getaway? Our outstation cab services will help you explore the
                | best destinations, visit all the must-see places and taste the best local food. Did you
                | just land at an airport or railway station closest to your destination? No problem! the
                | transit pick up service to cover the last mile. We'll get you to your destination and
                | show you some of the best sights along the way. Decided to take a personal day and
                | again. Do you just hit the road and decide to take it from there? We offer one-way
                | drops on several routes, in case you only want to be dropped to a destination and
                | don't want to look back.
              h3.wow.fadeIn.animated(style="color:white;")
                span Our Service Spectrum
              ul.about-icons.list-inline
                li.wow.fadeIn.animated
                  .text Local Travel
                br
                li.wow.fadeIn.animated
                  .text Outstation Travel
                br
                li.wow.fadeIn.animated
                  .text Wedding Outstation Travel
                br
                li.wow.fadeIn.animated
                  .text Wedding Local Car Rental
                br
                li.wow.fadeIn.animated
                  .text Bus Travel
                br
              // /.about-icons
          // /.col-md-12
        // /.row
      // /.container
    // /.about-section
    //
      Quote Section
      ==================================================
    section#quote.quote-section.hidden
      .container-fluid
        .row
          .col-md-12.quote-headline
            h4.wow.fadeIn.animated
              | We are here to 
              span make things Better
          .col-md-12.quote-bottom
            .container
              h3.wow.fadeIn.animated
                | "Patience, persistence and perspiration make an unbeatable combination for
                span.primary success
                | ."
              p.wow.fadeIn.animated
                | NAPOLEON HILL
                span  - Author
        // /.row
      // /.container
    // /.quote-section
    //
      Services Section
      ==================================================
    section#services.services-section.hidden
      .container
        .row
          .col-md-12.service-headline
            h2.wow.fadeIn.animated
              | What We do, We do 
              span.primary Best!
            p.wow.fadeIn.animated Shaping the future of AI, creating a safer and Better Tomorrow
          .col-md-12.service-content
            .left
              .service.wow.fadeIn.animated
                .text
                  a.primary-hover(href="service.html") Graphic Design
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
                .icons
                  i.material-icons.primary create
              .service.wow.fadeIn.animated
                .text
                  a.primary-hover(href="service.html") Web Design
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
                .icons
                  i.material-icons.primary screen_share
              .service.wow.fadeIn.animated
                .text
                  a.primary-hover(href="service.html") Social Media
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
                .icons
                  i.material-icons.primary devices
            .service-image
              img(src="assets/images/iphone-services.png" alt="iphone")
            .right
              .service-2.wow.fadeIn.animated
                .icons
                  i.material-icons.primary photo_camera
                .text
                  a.primary-hover(href="service.html") Photography
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
              .service-2.wow.fadeIn.animated
                .icons
                  i.material-icons.primary mic
                .text
                  a.primary-hover(href="service.html") Marketing
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
              .service-2.wow.fadeIn.animated
                .icons
                  i.material-icons.primary play_circle_filled
                .text
                  a.primary-hover(href="service.html") Video Production
                  p Lorem ipsum dolor sit amet, consecte adipiscing elit. Integer nec odio.
    // /.service-section
    //
      Call To Action Section
      ==================================================
    section#call-to.call-to-section.hidden
      .call-to-layer.main-gradient
      .container
        .row
          .col-md-12
            h3.wow.fadeIn.animated
              | Like what You see? 
              span Contact Us
              |  Now!
            p.wow.fadeIn.animated
              | We provide you with a comprehensive, encrypted, self-contained and user-friendly work environment, accessible to users only, anywhere in the world.
            button.btn.btn-default.wow.fadeInRight.hvr-sweep-to-right.button-gradient.animated Get it Now
    // /.call-to-section
    //
      Skills Section
      ==================================================
    section#skills.skills-section.hidden
      .container
        .row
          .col-md-12
            .skills-headline
              h4.wow.fadeIn.animated
                | Let 
                span Our Skills
                |  speak for Us
              p.wow.fadeIn.animated
                | The key of the future is an authentication and onboarding software that harnesses the power of our deep learning platform.
                br
                | Unlock the future by having in the palm of your hand.
          .col-md-12.progress-bar-wrapper
            .progress-bars
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Proprietary Neural Networks
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.first-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 75
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Deep and Lightweight Nets
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.second-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 80
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Learning in the Field
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.third-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 50
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated iOS & Android
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.fourth-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 70
                  span %
              .bar-wrapper
                .col-md-3.col-sm-3.col-xs-4.wow.fadeIn.animated Data Encryption
                .col-md-8.col-sm-8.col-xs-7
                  .progressBar.skill-bar-gradient.wow.animated.fifth-bar
                .col-md-1.col-sm-1.col-xs-1
                  span.counter 59
                  span %
    // /.skills-section
    //
      Contact Section
      ==================================================
    section#contact.contact-section
      .container
        .row
          .col-md-12
            .contact-headline
              h3.wow.fadeIn.animated
                | Let's 
                span Connect
              p.wow.fadeIn.animated Get in touch with us and get all the answers to your needs.
            .contact-content
              .contact-info
                p.contact-header
                  span Head office 
                .info-line
                  .info-icon.wow.fadeIn.animated
                    i.fa.fa-map-marker.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info
                      | 402 Plainfield Avenue San Francisco
                      br
                      | California, USA 13202
                p.contact-header
                  span Delhi NCR Office 
                .info-line
                  .info-icon.wow.fadeIn.animated
                    i.fa.fa-map-marker.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info
                      | 402 Plainfield Avenue San Francisco
                      br
                      |  California, USA 13202
                .info-line
                  .info-icon.wow.fadeIn.animated(style="vertical-align:top;")
                    i.fa.fa-envelope-o.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info normedia000sen@gmail.com
                    //
                      <p class="contact-text-info">info@normedia000sen.com</p>
                      <p class="contact-text-info">contact@normedia000sen.com</p>
                .info-line
                  .info-icon.wow.fadeIn.animated
                    i.fa.fa-phone.primary(aria-hidden="true")
                  .info-text.wow.fadeIn.animated
                    p.contact-text-info 05735470124, 06560000687
                .bottom-info
                  h4.wow.fadeIn.animated
                    span Connect
                    |  with us
                  ul.list-inline.social-icons.wow.fadeIn.animated
                    li
                      a.primary-2-back.primary-back-hover(href="https://www.facebook.com")
                        i.fa.fa-facebook(aria-hidden="true")
                    li
                      a.primary-2-back.primary-back-hover(href="https://twitter.com")
                        i.fa.fa-twitter(aria-hidden="true")
                    li
                      a.primary-2-back.primary-back-hover(href="https://www.instagram.com")
                        i.fa.fa-instagram(aria-hidden="true")
                    li
                      a.primary-2-back.primary-back-hover(href="https://www.linkedin.com/")
                        i.fa.fa-linkedin(aria-hidden="true")
                    
                  // <p class="wow fadeIn animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>!
              .contact-form
                h4.wow.fadeIn.animated
                  | Send us a 
                  span Message
                form(method="post" action="contactme.php")
                  .form-group.wow.fadeIn.animated
                    label(for="name") Name: 
                    input#name.form-control(type="text" name="mail_name")
                  // /.form-group
                  .form-group.wow.fadeIn.animated
                    label(for="email") Email: 
                    input#email.form-control(type="email" name="mail_to")
                  // /.form-group
                  .form-group.wow.fadeIn.animated
                    label(for="message") Message: 
                    textarea#message.form-control(name="mail_msg" rows="4")
                  // /.form-group
                  button.btn.btn-default.wow.fadeIn.primary-back-hover.primary-hover-border.animated(type="submit") Submit
